<div class="singleProfileContainer col-md-12">
  <div class="singleProfile col-md-8 col-md-offset-2">
    <h1 class="text-center">{{ name }}</h1>
    <h3 class="text-center">{{ position }}</h3>
    <div class="image {{ pid }} text-center">
      <img src="{{ img }}" alt="{{ name }}">
    </div>
    <h2 class="text-center">Manifesto</h2>
    <h4>{{ manifestoPoints.one }}</h4>
    <h4>{{ manifestoPoints.two }}</h4>
    <h4>{{ manifestoPoints.three }}</h4>
  </div> <!-- / .col-md-8 .col-md-offset-2 -->
</div> <!-- / .singleProfile -->
